body{
    width: 470px;
    min-height: 330px;
    padding: 5px;
}

.container{
    background-color: #1b1e20;
    border-radius: 5px;
    padding: 5px;
    min-height: 325px;
}
.timetable{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-size: 22px;

    padding-top: 10px;
    color: #fff;
}



tr{
    display: flex;
    align-items: center;
}

td{
    width: 250px;
    text-align: center;
}

.groups_item{
    /*margin-top: 25px;
    border-top: 2px solid black;*/
    color: #fdb622;
}

.btn_list, .input_field{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: transparent;
    border:  1px solid #fff;
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    margin: 0 5px 0 5px;
    cursor: pointer;

    font-weight: bold;
    color: #fff;
}
.btn:hover{
    color: #8ac832;
    border-color:  #8ac832;
}

.active{
    
    color: #fdb622;
    border-color:  #fdb622;
}

.input_field{
    margin-bottom: 10px;
}

.softmerge-inner{
   width: 100%!important;
}

.input_field{
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.version{
    color: white;
    align-self: flex-end;
    margin-right: 4px;
}
.dateOfLessons{
    margin-top: 10px;
    color: white;
    border-bottom: 1px solid white;
    border-radius: 10px;
    padding: 5px 10px;
    
}

/*LOADER*/
.loader_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lds-dual-ring {
    display: none;
    width: 80px;
    height: 80px;
   
    margin-top: 35px;
    
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/*LOADER END*/

#group{
    border-radius: 5px;
}
#group:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

