body{
    width: 470px;
    min-height: 330px;
    padding: 5px;
}

.container{
    background-color: #1b1e20;
    border-radius: 5px;
    padding: 5px;
    min-height: 325px;
}
.timetable{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-size: 22px;

    padding-top: 10px;
    color: #fff;
}



tr{
    display: flex;
    align-items: center;
}

td{
    width: 250px;
    text-align: center;
}

.groups_item{
    /*margin-top: 25px;
    border-top: 2px solid black;*/
    color: #fdb622;
}

.btn_list, .input_field{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: transparent;
    border:  1px solid #fff;
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    margin: 0 5px 0 5px;
    cursor: pointer;

    font-weight: bold;
    color: #fff;
}
.btn:hover{
    color: #8ac832;
    border-color:  #8ac832;
}

.active{
    
    color: #fdb622;
    border-color:  #fdb622;
}

.input_field{
    margin-bottom: 10px;
}

.softmerge-inner{
   width: 100%!important;
}

.input_field{
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.version{
    color: white;
}
.dateOfLessons{
    margin-top: 10px;
    color: white;
    border-bottom: 1px solid white;
    border-radius: 10px;
    padding: 5px 10px;
    
}