.timetable{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}

tr{
    display: flex;
    align-items: center;
}

td{
    width: 250px;
    text-align: center;
}

.groups_item{
    margin-top: 25px;
}